/* estilos Globais */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    letter-spacing: 2px;
}

.secao-banner, .container-imagem1,
.container-imagem2, .secao-contatos {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;    
}

.limite {
    max-width: 1024px;
    margin: 0 auto;
}
/* Fim Estilos Globais*/



/* Seção Topo */
.secao-topo {
    background-color: #604829;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
}

.secao-topo img {
    width: 100px;
    position: absolute;
    left: 10px;
}

.container-links {
    position: absolute;
    top: 35%;
    right: 10px;
    margin-left: 30px;
}

.container-links a {
    font-family: 'Oswald';
    font-size: 18px;
    color: #c4a47c;
    text-shadow: 5px 5px 3px #000000;
}
/* Fim Seção Topo */



/* Seção Banner */
.secao-banner {
    background-image: url('../img/parallax-imagem1.png');
    height: 100vh;
}

.secao-banner h1 {
    font-family: 'Fraunces';
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
/* Fim Seção Banner */



/* Seção Informações */
.container-texto {
    background-color: #fff;
    padding: 80px 0;
    text-align: center;
}

.container-texto h2 {
    font-family: 'Oswald';
    font-size: 18px;
    color: #c4a47c;
    margin: 30px auto;
}

.container-texto p {
    font-family: 'Lato';
    font-size: 16px;
    color: #666;
    max-width: 1024px;
    padding: 0 20px;
    margin: 30px auto;
    line-height: 35px;
}

.secao-informacoes h3 {
    background-color: #604829;
    color: #fff;
    font-family: 'Fraunces';
    font-size: 24px;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 500px;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.container-imagem1 {
    background-image: url('../img/parallax-imagem2.jpg');
    height: 50vh;
}

.container-imagem2 {
    background-image: url('../img/parallax-imagem3.jpg');
    height: 50vh;
}
/* Fim Seção Informações */



/* Seção Contatos */
.secao-contatos {
    background-image: url('../img/parallax-imagem4.png');
    height: 100vh;
}

.secao-contatos h2 {
    font-family: 'Oswald';
    font-size: 24px;
    background-color: #604829;
    color: #fff;
    width: 500px;
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}

.secao-contatos iframe {
    max-width: 1024px;
    height: 450px;
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}

.contatos {
    background-color: #604829;
    width: 500px;
    padding: 10px;
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}

.contatos p {
    font-family: 'Oswald';
    font-size: 16px;
    color: #fff;
}
/* Fim Seção Contatos */



/* Seção Horários */
.secao-horarios {
    padding: 100px 20px;
    background-image: url('../img/cafeteria.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao-horarios h2 {
    color: #fff;
    margin-bottom: 30px;
}

.lista-horarios {
    width: 100%;
    max-width: 768px;
}

.lista-horarios li {
    color: #fff;
    margin-bottom: 15px;
    list-style: none;    
    display: flex;
    align-items: center;
    gap: 10px;
}

.lista-horarios li div {
    height: 1px;
    background-color: gray;
    flex: 1 1 auto;
}

.lista-horarios li h3 {
    flex: 0 1 80px;
}

.lista-horarios li span, p {
    flex: 0 1 120px;
    text-align: right;
}

.lista-horarios li span {
    color: #c4a47c;
}
/* Fim Seção Horários */



/* Seção Rodapé */
.secao-rodape {
    height: 100px;
    position: relative;
    padding: 20px 0;
    background-color: #000000;
}

.secao-rodape .ico {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 80px;
    right: 50px;
    background-image: url('../img/seta-para-cima.png');
    background-position: center;
    background-size: cover;
    background-color: #c4a47c;
    border-radius: 4px;
}

.texto-rodape p {
    font-family: 'Lato';
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.texto-rodape p a {
    color: #c4a47c;
    letter-spacing: normal;
}

/* Fim Seção Rodapé */

/* Responsivo */
@media (max-width: 800px) {
    .secao-rodape .ico {
    top: -50px;
    }


    .secao-topo img {
        width: 80px;
        left: 15px;
        top: 10px;        
    }

    .container-links {
        top: 40px;
        right: 15px;
    }

    .container-links a {
        font-size: 14px;
    }

    h2 {
        font-size: 16px;
        margin: 0 auto;
    }

    .secao-banner h1 {
        font-size: 30px;
        padding: 0 10px;
        text-align: center;
    }

    .container-texto p {
        font-size: 14px;
        line-height: 25px;
        text-align: center;
    }

    .secao-informacoes h3 {
        width: 90%;
        font-size: 20px;
        padding: 8px;
        margin: 0 auto;
    }

    .secao-contatos h2 {
        width: 90%;
        font-size: 20px;
        padding: 8px;
    }

    .secao-contatos iframe {
        width: 90%;
        height: 300px;
        top: 25%;
    }

    .contatos {
        width: 90%;
        bottom: 5%;
        padding: 8px;
    }

    .contatos p {
        font-size: 14px;
        text-align: center;
    }

    .secao-horarios {
        padding: 80px 10px;
        text-align: center;
    }

    .lista-horarios {
        max-width: 100%;
    }

    .lista-horarios li h3 {
        flex: 0 1 80px;
        font-size: 12px;
    }

    .lista-horarios li span, p {
        flex: 0 1 100px;
        font-size: 12px;
    }

    .lista-horarios li span {
        text-align: center;
    }

    .secao-rodape .ico {
        width: 40px;
        height: 40px;
        bottom: 60px;
        right: 20px;
    }

    .texto-rodape p {
        font-size: 14px;
    }
}